.filters{
    position: absolute;
    padding: 1em;
    bottom: -250px;
    width: 300px;
    height: 250px;
    background-color: white;
    border-radius: 10px;
    border: solid 2px lightgray;
    z-index: 2;
}