.MuiDataGrid-root .MuiDataGrid-columnHeaderCheckbox .MuiDataGrid-columnHeaderTitleContainer {
    display: none;
}

.filters-container{
    & > *{
        margin-right: 1em;
    }

    button{

        display: flex;
        align-items: center;
        background-color: white;
        justify-content: center;
        border-radius: 5px;
        border: solid 1px darkgray;
        padding: 0 1em;

        color: green;

        svg{
            padding: 0;
            font-size: 1.25em;
        }
    }
    margin-bottom: 1em;
}

.output-tables table{
    font-size: 14px;
    font-family: Helvetica, sans-serif;
    text-align: left;
    table-layout: fixed;
    width: 100%;

    tr td,tr th{
        &:nth-of-type(2){
            text-align: right;
        }
        padding: 10px;
    }


    th{
        font-weight: normal;
        padding: 0;
        border-bottom: solid 1px darkgray;
    }

    thead, tbody{
        width: 100%;

        tr{
            width: 100%;
            display: flex;
        }
    
        tr th:first-of-type, tr td:first-of-type{
            flex: 1 1 0;
        }
    
        tr th:last-of-type, tr td:last-of-type{
            width: 200px;
        }
    }
}

#output-table tbody{
    height: 70vh;
    overflow-y: scroll;
}

#output-table tbody{
    display: block;
}

// #output-table thead, #output-table tbody{
//     width: 100%;

//     tr{
//         width: 100%;
//         display: flex;
//     }

//     tr th:first-of-type, tr td:first-of-type{
//         flex: 1 1 0;
//     }

//     tr th:last-of-type, tr td:last-of-type{
//         width: 200px;
//     }
// }
